.content{

}

.product-information{
    display: flex;
    justify-content:space-between;
}
.product-information>div{
    /* background:red; */
    margin:1px;
}
.prod-name{
    margin-left:30px;
}
.prod-image{
    width:300px;
    margin:20px;
}
.primary-image{
    display: block;
    width:99%;
    margin:0 auto;
}
.other-images{
    width:300px;
    display: flex;
    justify-content:center;
}
.other-images img{
    width:24%;
    margin:.5%;
}
.prod-about .row{
    display: flex;
    justify-content: space-between;
}
.discription{
    width:50%;
}
.character{
    margin-left:30px;
    margin-top:20px;
}
.character>p{
    font-size:1em;
    font-weight: bold;
}

.character div p{
    margin-bottom: 5px;
    color:#777;
}
.character div p span:last-child{
    color:#323232;
    font-weight:400;
}